{% load staticfiles %}
<!-- Barra de búsqueda -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <buttom type="buttom" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </buttom>
                <a href="#" class="navbar-brand" id="links">El Rincón de Souza</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="links">

                    <li class="{% if navbar == 'home' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
                    {% for category in categories %}
                    <li class="{% if nbar == 'category' %} active {% endif %}"><a href="{% url 'category' category.id %}">{{category.name}}</a></li>
                    {% endfor %}


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Carrito<span class="caret"></span></a> 
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" data-toggle="modal" data-target="#Login">Acceder</a></li>
                            <li><a href="" data-toggle="modal" data-target="#Signup">Registrarse</a></li>
                        </ul>                
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Fin Barra de búsqueda -->