{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>

<!-- Comienzo HTML-->
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}El rincón de Souza{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Estilo.css -->
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">

    <!-- Iconos -->
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/soscial/bootstrap-social.css' %}" rel="stylesheet">

    <!-- Fuentes Web-->
    <link href="https://fonts.googleapis.com/css?family=Graduate|Pacifico" rel="stylesheet" type="text/css">




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_css %}{% endblock extra_css %}

</head>

<!-- Cuerpo-->

<body id="Sp">

    {% include "includes/header.html" %}

    <!-- Contenedor Section -->
    <section class="container">

        <div class="container">
            <div class="navbar-header navbar-nav navbar-right">
                <form class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar..">
                </form>
            </div>
        </div>

        <div class="row">

            <!-- Comienzo Aside -->
            <aside class="col-md-3 hidden-xs">
                <h4>Filtrar por:</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item">Popularidad</a>
                    <a href="#" class="list-group-item">Precio Menor</a>
                    <a href="#" class="list-group-item">Precio Mayor</a>
                </div>
            </aside>
            <!-- Fin Aside -->

            <article class="col-md-9">
                {% for product in products %}
                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <div class="photo">
                            {% thumbnail product.image "350x260" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive" alt="{{product.name}}" >
                            {% endthumbnail %}                          
                        </div>
                        <div class="caption-full">
                            <h4 class="pull-right">${{product.price}}</h4>
                            <h4><a href="{% url 'product' product.id %}">{{product.name}}</a></h4>
                            <buttom class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#carrito">Añadir al carro
                            </buttom>
                        </div>
                        <div class="valora">
                            <p class="pull-right">2 comentarios</p>
                            <p>
                               <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                4.0
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </article>
        </div>
    </section>
    <!-- Fin Contenedor Section -->

    {% include "includes/footer.html" %}
    {% include "includes/querys.html" %}
   

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
<!-- Fin Cuerpo-->

</html>
<!-- Fin HTML-->
